
    <!-- detail rect mit url -->
    <a xlink:href="<%= detail.url %>" target="detailtarget">
        <rect x="<%=data.x - 80%>" y="<%=data.y - 100%>" width="160" height= "200" stroke-width="0" fill-opacity="<%=config.url.opacity%>"/>
    </a>
